
.search-area {
    display: block;
    width: auto;
    position: relative;

    .search-link {
        position: relative;
        font-size: 16px;
        line-height: 40px;
        text-decoration: none;
        cursor: pointer;
        color: @first-font-color;
    }

    .search-link:hover {
        text-decoration: none;
        color: @first-font-color;
    }

    .search-link:after {
        content: "";
        position: absolute;
        z-index: 7;
        left: 50%;
        top: 100%;
        margin-left: -11px;
        margin-top: -4px;
        width: 22px;
        height: 22px;
        border: 11px solid transparent;
        border-bottom-color: inherit;
        display: var(--display, none);
    }

}

.search-box {
    position: absolute;
    top: 100%;
    right: -47px;
    display: none;
    min-width: 340px;
    margin-top: 8px;
    width: 100%;
    border: 5px solid #ccc;
    border-radius: 50px;
    border-color: inherit;

    input {
        margin: 5px 3px 3px 10px;
        border: none;
        outline: none;
    }
}


.show {
    display: block !important;
}


