// change icon
.minicart-wrapper .action.showcart:before{
    font-family: porto, serif;
    content: '\e871';
    font-size: 28px;
    line-height: 36px;
    color: @first-font-color;
}
.minicart-wrapper .action.showcart.active:before{
    font-family: porto, serif;
    content: '\e871';
    font-size: 28px;
    line-height: 36px;
    color: @first-font-color;
}
