.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m){

}

& when (@media-common = true) {
    .products-grid .product-item-info:hover, .products-grid .product-item-info.active {
        box-shadow: none;
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        position: relative;
        z-index: initial;
    }

    .products-grid .product-item-inner {
        background: none;
        box-shadow: none;
        border: none;
        margin: 0;
        padding: 0;
        position: initial !important;
        left: initial;
        right: initial;
        z-index: initial;
    }

    .abs-visually-hidden-desktop-s, .products-grid .product-item-info:not(:hover):not(.active) .product-item-inner {
        border: 0;
        clip: initial;
        height: auto;
        margin: 0;
        overflow: initial;
        padding: 0;
        position: initial;
        width: auto;
    }

    .products-grid .product-item-info:hover .product-item-inner .actions-secondary {
        opacity: 100%;
    }

    .abs-visually-hidden-desktop-s, .products-grid .product-item-info:not(:hover) .product-item-inner .actions-secondary {
        transition: opacity 0.2s;
        opacity: 0;
    }

    .product-item-info .product-item-details .product-item-actions .actions-primary {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        z-index: 1;
    }

    .quick-view {
        background: #65829D;
        display: block;
        padding: 0 0;
        color: white;
        text-transform: uppercase;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: auto;
        z-index: 6;
        text-align: center;
        opacity: 0;
        text-decoration: none;
        cursor: pointer;
    }

    .products-grid .product-item-info:hover .quick-view {
        opacity: 0.8;
        padding: 15px 0;
        transition: opacity 0.2s, padding 0.2s;
    }

    .products-grid .product-item-info:hover .quick-view:hover {
        opacity: 1;
        transition: all 0.2s;
        color: white;
        text-decoration: none;
    }

    .products-grid .product-item-info .image-wrapper {
        position: relative;
    }

    .rating-summary .rating-result:before {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        -webkit-font-smoothing: antialiased;
        color: #c3c5c9;
        font-family: 'porto';
        font-size: 12px;
        height: 12px;
        letter-spacing: 3px;
        line-height: 12px;
        content: '\e852' '\e852' '\e852' '\e852' '\e852';
        display: block;
        font-style: normal;
        font-weight: normal;
        speak: none;
    }

    .rating-summary .rating-result > span:before {
        left: 0;
        position: relative;
        top: 0;
        width: 100%;
        z-index: 1;
        -webkit-font-smoothing: antialiased;
        color: #65829D;
        font-family: 'porto';
        font-size: 12px;
        height: 12px;
        letter-spacing: 3px;
        line-height: 12px;
        content: '\e852' '\e852' '\e852' '\e852' '\e852';
        display: block;
        font-style: normal;
        font-weight: normal;
        speak: none;
    }

    .product-item-name a {
        font-weight: 400;
        line-height: 1.35;
        letter-spacing: -.01em;
        margin-bottom: 0.45rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #222529;
        display: block;
    }

    .product-item-name a:hover {
        color: #65829D;
        text-decoration: none;
        font-size: 14px;
    }

    .product-item .tocart:before {
        content: '\e871';
        font-family: 'porto';
        margin-right: 5px;
        font-weight: 600;
    }

    button.action.tocart {
        text-transform: uppercase;
        font-size: 10px;
    }

    .product-item .action.towishlist:before {
        content: '\e889';
        font-family: 'porto';
    }

    .product-item .action.tocompare:before {
        content: '\e810';
        font-family: 'porto';
    }

    .product-item-info .product-item-actions .towishlist, .product-item-info .product-item-actions .tocompare {
        color: #333;
        border: 1px solid #ddd;
        background-color: #fff;
    }

    .product-item-info .product-item-actions .towishlist:hover, .product-item-info .product-item-actions .tocompare:hover {
        background-color: #65829D;
        transition: background-color 0.3s;
    }

    .product-item-info .product-item-details .product-item-actions .tocart {
        background-color: #f4f4f4;
        border: none;
        color: #333;
        line-height: 36px;
        padding: 0 15px;
        font-weight: 700;
        margin-right: 5px;
        font-size: 13px;
        letter-spacing: -1px;
    }

    .products-grid .product-item-info:hover .product-item-actions .tocart {
        background-color: #65829D;
        color: white;
        transition: background-color 0.2s, color 0.2s;
    }

    .product-item-photo {
        margin-bottom: 1rem;
        min-height: 90px;
        font-size: 1em;
        display: block;
        position: relative;
        overflow: hidden;
        padding: 0;
    }

    .product-image-photo {
        display: block;
        position: relative;
        margin: auto;
        height: auto;
        width: 100%;
    }

    .product-image-photo.hover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
    }

    .image-wrapper:hover .product-image-photo.hover {
        opacity: 1;
        transition: opacity 0.3s;
    }

    .price-final_price .price-label {
        display: none;
    }

    .old-price .price-wrapper .price {
        text-decoration: line-through;
        font-size: 15px;
        margin-right: 5px;
    }

    .price-wrapper .price {
        font-size: 18px;
    }

    .product-labels {
        line-height: 1;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        position: absolute;
        z-index: 3;
        top: 10px;
        font-size: 10px;
        left: 10px;
        text-align: center;
    }

    .product-labels .product-label.sale-label {
        background-color: #e27c7c;
    }

    .product-labels .product-label {
        padding: 5px 11px;
        margin-bottom: 5px;
    }

    .products-list .product-item-photo {
        flex: 0 0 250px;
        margin: 0 20px 0 0;
    }

    .products-list .product-item-info {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .image-wrapper {
        position: relative;
    }

    .field.qty {
        margin: 0;

        .label {
            display: none;
        }

        .qty-change {
            -moz-user-select: none;
            -khtml-user-select: none;
            user-select: none;
            display: inline-block;
            width: 28px;
            text-align: center;
            cursor: pointer;
            height: 46px;
            border: solid 1px #e7e7e7;
            color: #222529;
            line-height: 46px;
        }

        .qty-change:hover {
            text-decoration: none;
            color: #65829D;
        }

        input#qty {
            margin: 0 -3px;
            width: 44px;
            height: 48px;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            line-height: 48px;
            border-radius: 0;
            border-width: 1px 0;
            border-color: #e7e7e7;
            padding: 0 5px;
            color: #222529;
        }

        input#qty:focus {
            box-shadow: none;
        }

        .swatch-attribute {
            .color {
                .selected:before {
                    font-family: 'porto';
                    content: '\f87b';
                }
            }
        }


    }

    .box-tocart {
        padding: 20px 0 15px;
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        font-size: 1em;

        .fieldset {

            display: flex;
            flex-flow: row nowrap;
            margin: 0;

            .actions {
                display: flex;
                flex-flow: row nowrap;

                .product-addto-links > a > span {
                    display: none;
                }

                .product-addto-links .towishlist:before {
                    content: '\e889';
                    font-family: 'porto';
                }

                .product-addto-links .tocompare:before {
                    content: '\e810';
                    font-family: 'porto';
                }

                .tocart {
                    margin-bottom: 0;
                    min-width: 150px;
                    height: 48px;
                    padding: 0 1em;
                    margin-bottom: 0;
                    border-radius: 0;
                    margin-left: 5px;
                    overflow: hidden;
                    text-transform: uppercase;
                    font-size: 14px;
                    letter-spacing: -1px;
                    font-weight: 700;
                    line-height: 48px;
                    border: none;
                    background: #222529;
                }

                .tocart:hover {
                    background-color: #65829D;
                }

                .tocart:before {
                    display: inline-block;
                    content: '\e871';
                    font-family: "porto";
                    margin-right: 5px;
                    font-size: 20px;
                }

                .product-addto-links .action {
                    border: 1px solid #e7e7e7;
                    display: inline-block;
                    background-color: #fff;
                    font-size: 18px;
                    text-align: center;

                    color: #222529;
                    vertical-align: middle;
                    text-transform: uppercase;
                    font-weight: 600;
                    width: 46px;
                    height: 46px;
                    line-height: 46px;
                    margin-left: 5px;
                    border-radius: 0;
                    margin-right: 0;
                }

                .product-addto-links {
                    display: flex;
                    flex-flow: row nowrap;
                }

                .product-addto-links .action:hover {
                    text-decoration: none;
                }

            }
        }
    }

    .product-info-stock-sku {
        clear: both;
        font-size: 14px;
        text-transform: uppercase;
        margin: 15px 0;
        text-align: left;
        float: none;
        padding-left: 0;
        .stock span + span {
            color: #222529;
            font-weight: 700;
        }
        .product.sku .type::after {
            content: ':';
            color: #777777;
        }
        .product.sku .value {
            display: inline-block;
            color: #222529;
            font-weight: 700;
        }
    }

}
